.checkout {
  &__container {
    display: grid;
    text-align: center;
    row-gap: 30px;

    table {
      border-collapse: collapse;
    }
    thead {
    }
    td,
    th {
      border-bottom: 2px solid #ececec;
      // border: none;
      padding: 0.5rem;
      // text-align: left;
      text-align: center;
    }
    tfoot {
      font-weight: bold;
      td:first-child {
        text-align: right;
      }
    }
  }
  &__item {
    &-image {
      img {
        height: 120px;
        margin-inline: auto;
      }
    }
    &-quantity {
      span {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        svg {
          width: 20px;
          cursor: pointer;
        }
      }
    }
    &-remove {
      span {
        cursor: pointer;
        background-color: #d3d3d3;
        padding: 3px 6px;
        border-radius: 3px;
      }
    }
  }
}
