.button-container {
  --button-bg: #000;
  --button-fg: #fff;
  --btn-padding-x: 1.875rem;
  --btn-padding-y: 0.625rem;
  --btn-font-size: 0.875rem;
  display: flex;
  justify-content: center;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border: none;
  background-color: var(--button-bg);
  color: var(--button-fg);
  cursor: pointer;
  font-size: var(--btn-font-size);
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid var(--button-bg);
    background-color: var(--button-fg);
    color: var(--button-bg);
  }

  &.google-sign-in {
    --button-bg: hsl(217 89% 61%);
    --button-fg: #fff;
  }

  &.inverted {
    --button-bg: #fff;
    --button-fg: #000;
  }
}
