.sign-in-container {
  display: flex;
  max-width: 25rem;
  flex-direction: column;

  h2 {
    margin: 0.625rem 0;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
  }
}
