@use '../../assets/scss/mixin' as *;

.category-container {
  display: grid;
  gap: 20px;

  .title {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: hsl(0, 0%, 40%);
    color: hsl(0 0% 90%);
    padding-block: 10px;
    padding-inline: 20px;
  }
  .category-body {
    display: grid;
    row-gap: 20px;
    column-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto 1fr;
    // padding-inline: 10px;
    padding-block-end: 10px;

    @include mq-min(small) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq-min(medium) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
