@use '../../assets/scss/mixin' as *;

.category-preview-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  margin-block-end: 30px;
}
.category-preview-heading {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: hsl(0, 0%, 40%);
  color: hsl(0 0% 90%);
  padding-block: 10px;
  padding-inline: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .more {
    padding: 4px 12px;
    color: hsl(0 0% 90%);
    text-decoration: none;
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: 350ms;
    @include hover {
      background-color: hsl(0 0% 90%);
      color: hsl(0, 0%, 40%);
    }
  }
}
.preview {
  display: grid;
  row-gap: 20px;
  column-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  // padding-inline: 10px;
  padding-block-end: 10px;

  @include mq-min(small) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq-min(medium) {
    grid-template-columns: repeat(4, 1fr);
  }
}
